@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	margin: 40px;
}

a{
	text-decoration: none;
	margin: 40px;
}

p{
	margin: 40px;
}